
body {

  font-family: "Poppins";
  margin: 0;
  
}

.container {

   display: flex;
   flex-direction: column;
   justify-content: center;
}

.dark-theme {

    filter: invert(1);
    background-color: black;
}

.light-theme {

    background-color: whitesmoke;
    filter: invert(0);
}

.theme-image {

    max-width: 100%;
    height: auto;
    width: 13rem;
}

button {

    border: 0;
    background-color: transparent;
    cursor: pointer;
}

h1 {
    text-align: center;
    font-weight: normal;
}