* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

#lang-options {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
}

#lang-options button {
   border: 0;

}

#lang-options img {
    width: 30px;
    height: 30px;
    margin: 0 10px;
    cursor: pointer;
}

#lang-text {

    text-align: center;
    font-size: 1.5rem;
    max-width: 50rem;
}
