


#topbtn {
           
    position: fixed;
    bottom: -5rem;
    right: 2rem;
    background-color:  rgb(37, 37, 37);
    padding: 0.5rem;
    border-radius: 50%;
    box-shadow: 0.1rem 0.1rem 0.5rem black;
    z-index: 999;
    transition: 0.5s;
  }

  #topbtn img{
    max-width: 2.5rem;
    width: 100%;
    
  }

  #topbtn:hover {

     background-color: rgb(58, 58, 58);
     transition: 0.5s;
  }

  #blog-page p {

    font-size: 1.2rem;
    max-width: 60rem;
    
  }

  #blog-intro h1 {

    text-align: left;
    font-size: 4rem;
    padding: 1rem;
    max-width: 50rem;
    color: black;
   
  }

  #blog-intro p:nth-of-type(2) {

    padding: 1rem;
    margin-top: -2.5rem;
    max-width: 55rem;
    color: #333;
    font-size: 1.1rem;
    

  }

  #blog-info {

    padding: 1rem;
    color: #333;
    margin-left: 0.75rem;
    margin-top: -2.5rem;
    margin-bottom: 2.5rem;
    background-color: rgb(201, 201, 201);
    max-width: fit-content;
    border-radius: 0.5rem;
    font-weight: bold;
   display: inline-block;
  }

  #blog-info:nth-of-type(2) {

    margin-right: 2rem; 
    
  }

  .blog-icons {

    color: #333;
    font-size: 1.8rem;
    margin-right: 1rem;
  }
  

