body {

    background-color: rgb(212, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

button {

    display: block;
   margin: 0 auto;
   padding: 0.2rem 5rem 0.2rem 5rem;
   margin-top: 0.5rem;
}

.hide {

    display: none;
}

.delete {


    background-color: rgb(172, 172, 172);
    width: fit-content;
    margin: 0 auto;
    padding: 0.5rem;
    border: 1px solid black;
    cursor: pointer;
}