@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: #f5f5f5;
  color: #333;
}

h1 {

    font-size: 2rem;
    margin-bottom: 1rem;
}

.container {
  max-width: 50rem;
  margin: 0 auto;
  padding: 2rem;
}

#open {

    background-color: #333;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    cursor: pointer;
    margin-bottom: 1rem;
}

#save {

    background-color: #333;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    cursor: pointer;
    margin-bottom: 1rem;
}

#open:hover, #save:hover {

    background-color: #555;
    transition: 0.3s;

}

#editor {

    width: 100%;
    height: 50vh;
    padding: 1rem;
    border: 1px solid #333;
    border-radius: 0.3rem;
    margin-bottom: 1rem;

}